.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    display: flex;
    margin: 8px 0;
}

.header__navbar-item {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0 12px;
}

.header__navbar-user {
    display: flex;
    position: relative;
} 

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    width: 160px;
    z-index: 1  ;
    position: absolute;
    padding-left: 0;
    list-style: none;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #E0E0E0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 0px;
    z-index: -1;
}

.header__navbar-user-menu::after {
    content: "";
    width: 54%;
    height: 8px;position: absolute;
    top: -8px;
    right: 0;
    display: block;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;  
    font-weight: 400;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover {
    background-color: #FAFAFA;
}

#header__navbar-user-role-fc {
    padding-top: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

#header__navbar-user-role-lc {
    padding-bottom: 16px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item-link {
    text-decoration: none;
}

.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color:rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header__qr {
    border-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 100%;
    border: 8px solid #fff;
    border-radius: 2px;
    margin-top: 12px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    margin-left: -10px;
    top: -25px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 424px; 
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    transform-origin: calc(100% - 25px) top;
    animation: notifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    border-radius: 2px;
    display: none;
    z-index: 2;
}

.header__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 8px;
}

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 20px;
    right: 0;
    top: -15px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: text;
    user-select: none;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 54px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.8rem;
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-info:nth-child(1) {
    margin-top: 8px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-weight: 400;
    font-size: 1.6rem;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
    position: relative;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

.header__sort-icon {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
    font-size: 0.8rem;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 12px;
    /* margin-bottom: 24px; */
}

.auth-form__heading {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 500;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #666;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.auth-form__control-back {
    margin-right: 8px;
    background-color: #cdcdcd;
}

.auth-form__control-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__social {
    background-color: #e7e7e7;
    padding: 14px 48px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social-fb {
    background-color: #3A5A98;
    color: var(--white-color);
    padding: 8px;
}

.auth-form__social-icon-fb {
    font-size: 2rem;
    margin-right: 16px;
}

.auth-form__social-gg {
    background-color: var(--white-color);
    padding: 8px;
    color: var(--text-color);
    padding: 8px 16px;
}

.auth-form__social-logo-gg {
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    text-decoration: none;
}

.auth-form__help::before {
    content: "";
    border-left: 1px solid rgb(229, 229, 229);
    height: 20px;
    position: absolute;
    right: 128px;
    top: 49%;
}

.auth-form__help-link:nth-child(1) {
    margin-right: 30px;
    color: var(--primary-color);
}

.auth-form__help-link:nth-child(2) {
    color: #666;
}

/* Header with search */

.header-with-search {
    height: calc(var(--header-height) - var(--nav-height));
    display: flex;
    align-items: center;
    margin: 0 8px;
    position: relative;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    position: absolute;
    top: 35%;
}

.header__logo {
    width: 194px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-shopee {   
    width: 146px;
    filter: brightness(0) invert(1);
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    position: relative;
    align-items: center;
}

.header__search-checkbox:checked ~.header__search {
    display: flex;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    height: 20px;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #4A4A4A;
    padding: 0 12px;
}

.header__search-btn {
    border: none;
    background-color: var(--primary-color);
    width: 60px;
    height: 34px;
    margin-right: 3px;
    border-radius: 2px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    margin-top: 12px;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1; 
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    position: absolute ;
    top: -25px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 14px 8px;
    width: 130px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189 );
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;  
    padding: 0 12px;
    line-height: 38px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
    cursor: pointer;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 8px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px ;
    border: 2px solid #EE4D2D;
    top: -10px;
    right: -10px;
}

.header__cart {
    width: 150px;
    text-align: center;
    margin-top: 16px;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding:0 8px;
    cursor: pointer;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: -3px;
    background-color: var(--white-color);
    width: 390px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    transform-origin: calc(100% - 5px) top;
    animation: notifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 18px;
    display: none;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 44px;
    height: 44px;
    margin: 12px;   
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;    
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    text-align: left;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

/* Container */
.container {
    background-color: #F5F5F5;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.app__content {
    padding-top: 36px;
}

.category__heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 16px 16px 0;   
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    padding-right: 4px;
    position: relative;
    top: 0px;
}

.category-list {
    padding: 0 0 2px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before   {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.category-item__link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.category-item__link:hover {
    color: var(--primary-color);
}

.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.mobile-category__link span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home sort + filter */
.home-filter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
    margin-right: 12px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    font-weight: 500;
    box-shadow: 0 1px 2px #E0E0E0
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 2px #E0E0E0
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #F9F9F9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.7rem;
    color: #cbc9c9;
    margin-left: auto;
}

.home-product-item__rating-yellow {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0 10px; 
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__salfe-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__salfe-off--nothing {
    display: none;
}

.home-product-item__salfe-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__salfe-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.home-product-item__salfe-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2px;
    display: block;
}

.pagination__container {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}

/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
    
}

.footer__list {
    padding-left: 0;
}

.footer__item {
    list-style: none;
}

.footer__item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer__item-link:hover span {
    color: var(--primary-color);
}

.footer__item-icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.footer__download-apps {
    margin-left: 16px;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.footer__download-apps-img {
    height: 16px;
}

.footer__download-apps-img:first-child {
    margin-bottom: 8px;
}




